body {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #AAA;
    background-image: -webkit-linear-gradient(top left, #EEEEEE, #B1B1B1);
    background-image: -moz-linear-gradient(top left, #EEEEEE, #B1B1B1);
    background-image: linear-gradient(to bottom right, #EEEEEE, #B1B1B1);
    background-image: url('../images/whiteb.jpg');
}

.table-overrides {
    align-items: flex-start;
    justify-content: flex-start;
    padding:30px;
    
}
    .table-overrides{
        width: 500px;
        font-size:11px;
    }
    .table-overrides th {
        text-align: left;
        padding: 1px;
    }
#logout {
    margin: 30px;
    height: 50px;
    width: 90px;
    font-size: 16px;
    background: #A29898;
}

#logout a {
        color: #403130;
}
#logout a:hover{
    color: whitesmoke;
}
    #expression {
        background-color: #f0f5f5;
        padding: 10px;
        height: 100px;
    }
#userForm {
    background-color: #AAA;
}

#button-delete {
    margin: 3px;
    padding: 3px;
}


.button-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
.number-button {
    margin: 0;
    width: 100px;
    height: 40px;
    color: gray;
}
    .number-button:hover {
        background-color: darkgray;
    }
    .main_place {
        align-items: center;
        justify-content: center;
        width: 400px !important;
    }
